body {
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-image: url(7.gif);
    
  }
  .container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  h2 {
    text-align: center;
  }
  .input-group {
    margin-bottom: 20px;
  }
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .btn:hover {
    background-color: #45a049;
  }
h1{
    color: white;
}
p{
    color: white;
    font-family: 'Roboto', sans-serif;;
}
.product {
    color: white;
}

.item {
    margin: 10px 0;
    text-align: center;
    align-items: center;
}
.product {
    text-align: center;
}

.item {
    display: inline-block;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

.item:hover {
    transform: scale(1.1);
}
table {
    margin: 0 auto;
}

.register {
  max-width: 500px;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 20px;
  color: white;

}
label {
  display: block;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 50%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.tuplok {
  display:block;
  width: 20%;
  padding: 10px 0;
  margin-top: 10px;
  background-color: #4CAF50;
  color: black;
  border: none;
  border-radius: 4px;


}
.tuplok:hover {
  background-color: white;
}
.sale{
  text-align: center;
  size: 20px;

}